
@import "variables";
@import "mixins";
@import "typography";
@import "sections";
@import "buttons";
@import "navigations";
@import "components";
@import "features.scss";
@import "pricing.scss";
@import "cards.scss";
@import "blog.scss";
@import "progress-bars.scss";
@import "sliders.scss";
@import "forms.scss";
@import "labels-badges-alerts.scss";
@import "portfolio.scss";
@import "table.scss";
@import "accordions.scss";
@import "responsive.scss";


/* Custom CSS */
body {
    color: $text-color;
    background: $body-bg;
    font-family: $primary-font;
    font-weight: $regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: $letter-spacing;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
img{
  width: 100%;
}
.page-header{
	font-size: 30px;
	font-weight: $bold;
	border: none;
	padding-top: 50px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}

//--- Header Logo ---//
.navbar-brand {
  img {
    width: 50%;
  }
}

.wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}

main {
  flex: 1 0 auto;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
}

//--- Copyright Text ---//
.copyright {
  font-size: 0.7em;
  line-height: 1.5;
}

//--- Footer Links ---//
.footer-links {
  a {
    font-size: 0.8em;
  }
}